.logo-img{
  max-width: 70px;
  max-width: 70px;
}

.navbar-btn{
  background-color: #1ECB44;
}
@media (min-width: 992px){
  .navbar li {
      margin-left : 1em;
      margin-right : 1em;
  }
}

.nav-font{
  font-size: 20px !important;
  margin: 0px;
}
