<nav class="navbar navbar-expand-lg rounded" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" href="#"><img class="logo-img mt-3" src="assets/logo.png" alt=""> <img class="logo-img mt-3" src="assets/logo_text.png" alt=""></a>
      <ul class="navbar-nav col-lg justify-content-end">
        <li class="nav-item">
          <a class="nav-link fw-bold text-light" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-light" href="#">Programs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-light" href="#">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-light" href="#">About</a>
        </li>
        <!-- <button class="btn btn-primary ms-1 navbar-btn">Sign In</button> -->
      </ul>
      <div class="d-lg-flex justify-content-end">
        <button class="btn navbar-btn fw-bold text-light" [routerLink]="['/signin']">Sign in</button>
      </div>
    </div>
  </div>
</nav>
