<div class="container-fluid background-color text-center">
  <div class="row">
    <div class="col mt-5"></div>
    <div class="col-lg-4 col-sm-8 background-img rounded-5 mt-5">
      <div class="row text-start">
        <div class="col"></div>
        <div class="col-lg-10">
          <div class="">
            <div>
              <p class="text-light text-decoration-underline mt-4 fw-semibold fs-3 align-custom text-center">Sign In</p>
              <div class="mb-5">
                <label for="email-lbl" class="form-label text-light">Email</label>
                <input type="email" class="form-control input-bg" id="email-lbl" placeholder="email">
              </div>
            </div>
            <div>
              <div class="mb-5">
                <label for="pw-lbl" class="form-label text-light">Password</label>
                <input type="password" class="form-control input-bg" id="pw-lbl" placeholder="password">
              </div>
            </div>
            <div>
              <div class="text-center container-fluid">
                <button class="btn btn-color text-light fw-semibold">Sign In</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="col mt-5"></div>
  </div>
</div>
