#backgroundimg-1{
  background-image: url(../../../../public/assets/background_1.png);
  height: 100vh;
  width: auto;
}

.home-text{
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: center;
  font-size: 60px;
}

.txt-size{
  font-size: 70px;
  color: white;
  font-weight: bolder;
  display: inline-block;
  white-space:nowrap;
  
}

.btn-home{
  background-color: #1ECB44;
  font-size: 29px;
  font-weight: bold;
  border-radius: 40px;
  background-color: #1ECB44;
}

.mem-count{
  color: white;
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.cart-head{
 margin-top: 150px;
}