
<div class="container-fluid" id="backgroundimg-1">
  <app-navbar></app-navbar>
  <div class="mb-5"></div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-lg-4 col-sm-7 d-flex justify-content-center align-self-center text-center"><span class="txt-size fw-bold text-light">Sculpt Your Strength Define Your Destiny</span></div>
    <div class="col-4"></div>
  </div>
  <div class="d-flex justify-content-center text-center+"><button class="mt-5 btn btn-success">Contact Us</button></div>
</div>
