<div class="d-flex">
  <div class="sidebar">
    <a href="#" class="active">Home</a>
    <a href="#" [routerLink]="['/admin']">Administrator</a>

    <a id="navbardrop" data-toggle="dropdown" disabled>
      Registration
    </a>
    <div class="">
      <a class="dropdown-item" href="#" [routerLink]="['/customer-reg']">Customer</a>
      <a class="dropdown-item" href="#" [routerLink]="['/coach-reg']">Coaches</a>
      <a class="dropdown-item" href="#" [routerLink]="['/admin-reg']">Admin</a>

    </div>
    <a href="#">Payments</a>
  </div>
</div>