.header {
    width: calc(100% - 200px);
    position: absolute;
    right: 0;
  }
  
.btn-s{
   
   font-size: 22px;
   font-weight: bold;
   border-radius: 40px;
   width: 121px;
   height: 50px;
   background-color: #1ECB44;
   padding: 0px;
   text-align: center;
   padding-bottom: 3px;
}